In [9]:
# 테이블 출력 예제 01
from IPython.display import HTML, display
from tabulate import tabulate

table = [["Sun",696000,1989100000],
         ["Earth",6371,5973.6],
         ["Moon",1737,73.5],
         ["Mars",3390,641.85]]

print(tabulate(table, headers=["Planet","R (km)", "Abc"], showindex="always"))
display(HTML(tabulate(table, headers=["Planet","R (km)", "Abc"], tablefmt='html', showindex="always")))

    Planet      R (km)            Abc
--  --------  --------  -------------
 0  Sun         696000     1.9891e+09
 1  Earth         6371  5973.6
 2  Moon          1737    73.5
 3  Mars          3390   641.85

In [8]:
# 테이블 출력 예제 02

import numpy as np
from tabulate import tabulate

m = np.array([[1, 2, 3], [4, 5, 6]])
headers = ["col 1", "col 2", "col 3"]

# tabulate data
table = tabulate(m, headers, tablefmt="fancy_grid")

# output
print(table)

╒═════════╤═════════╤═════════╕
│   col 1 │   col 2 │   col 3 │
╞═════════╪═════════╪═════════╡
│       1 │       2 │       3 │
├─────────┼─────────┼─────────┤
│       4 │       5 │       6 │
╘═════════╧═════════╧═════════╛